__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/

env/
venv/
ENV/
.venv/

*.log
*.pot
*.pyc
*.mo
*.sqlite3
db.sqlite3
media/
staticfiles/

*.local
.env
.env.*

.vscode/

.idea/

.DS_Store

htmlcov/
.coverage
.tox/
.nox/
.cache/
.coverage.*

.mypy_cache/

.pytest_cache/

docs/_build/

node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
